<html lang="it" xmlns:th="http://www.thymeleaf.org">
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="../css/style.css">
	<meta charset="UTF-8">
<title>Project JPA</title>
</head>
<body>
	<nav th:insert= "~{fragments/navigation :: block-navigation('Elenco attivita')}"></nav>
	<div align="center">
		<a th:href="@{/createAttivita}" class="buttonlike">Create</a>
	</div>
	</br>
	<div>
		<table align="center">
			<thead>
				<tr>
					<th>Attivita</th>

					<th colspan="2">Azione</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="att : ${listAtt.dati}">
					<td th:text="${att.descrizione}"></td>
					<td>
						<a th:href="@{/updateAttivita(attID=${att.id})}">Update</a>
					</td>
					<td>	
						<a th:href="@{/removeAttivita(attID=${att.id})}">Remove</a>
					</td>
				
				</tr>
			
			</tbody>			
		
		
		
		
		</table>
	
	
	</div>
	
</body>
</html>