<html lang="it" xmlns:th="http://www.thymeleaf.org">
<head>
	<link rel="stylesheet" href="../css/style.css">
	<meta charset="UTF-8">
<title>Project JPA</title>
</head>
<body>
	<nav th:insert= "~{fragments/navigation :: block-navigation('crea attivita')}"></nav>

	<div class="container">
		<h3 class="description">Inserire i dati relativi all'attivita</h3>
		 <form class="form_content" th:action="@{/saveAttivita}" th:object="${att}" method="post">
			<table style="border: 0">
				<tr>
					<td><label for="nome">Descrizione:</label></td>
					<td><input type="text" th:field="*{descrizione}" placeholder="descrizione"
						required><br></td>
				</tr>

			</table>
            <button type="submit">Crea Attivita</button>

        
        </form>

		
	
	</div>
</body>
</html>