<html lang="it" xmlns:th="http://www.thymeleaf.org">
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="../css/style.css">
	<meta charset="UTF-8">
<title>Project JPA</title>
</head>
<body>
	<nav th:insert= "~{fragments/navigation :: block-navigation('Elenco soci')}"></nav>
	<div align="center">
		<a th:href="@{/createSocio}" class="buttonlike">Create</a>
	</div>
	</br>
	<div>
		<table align="center">
			<thead>
				<tr>
					<th>Nome</th>
					<th>Cognome</th>
					<th>Codice fiscale</th>
					<th>Tipo Certificato</th>
					<th>Data Certificato Medico</th>
					<th colspan="2">Azione</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="socio : ${listSocio.dati}">
					<td th:text="${socio.nome}"></td>
					<td th:text="${socio.cognome}"></td>
					<td th:text="${socio.cFiscale}"></td>
					<td th:text="${socio.certificato.tipo}"></td>
					<td th:text="${socio.certificato.dataCertificato}"></td>
					<td>
						<a th:href="@{/updateSocio(socioID=${socio.id})}">Update</a>
					</td>
					<td>	
						<a th:href="@{/listAbbonamenti(socioID=${socio.id})}">Abbonamento</a>
					</td>
				
				</tr>
			
			</tbody>			
		
		
		
		
		</table>
	
	
	</div>
	
</body>
</html>